<!DOCTYPE html>
<html lang="en">
<head>
  <title>Empleado Nuevo</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
  <header id="header">
    <!-- Coloca la barra de navegación aquí -->
  </header>
  <main>
    <div class="container" id="app">
      <form style="background-color: aliceblue; margin: 10px auto; width: 400px; padding: 20px;">
        <h1>Jugador nuevo</h1>
        <div class="mb-3">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" id="nombre" v-model="nombre">
        </div>
        <div class="mb-3">
          <label for="apellido">Apellido</label>
          <input type="text" name="apellido" id="apellido" v-model="apellido">
        </div>
        <div class="mb-3">
          <label for="whatsapp">WhatsApp</label>
          <input type="text" name="whatsapp" id="whatsapp" v-model="whatsapp">
        </div>
        <div class="mb-3">
          <label for="posicion">Posicion</label>
          <input type="text" name="posicion" id="posicion" v-model="posicion">
        </div>
        
        <button type="button" class="btn btn-success" v-on:click="grabar()">Grabar</button>
      </form>
    </div>
  </main>
  <footer id="miFooter">
    <script src="../static/main.js"></script>

    <!-- Coloca el pie de página aquí -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  <script src="../static/main.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- Agrega el script de empleados.js o el que estés utilizando -->
  <script src="../static/empleados.js"></script>
</body>
</html>
